body{
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f9fafc;
    color: #333;
}
h1,h2 {
    text-align: center;
}

form{
    margin-bottom: 12px;  
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label{
    margin-top: 5px;
    margin-bottom: 4px; 
    font-weight: bold;
}

input, select, button{
    padding: 8px;
    margin-top: 3px; 
    border: 1px solid #ccc;
    border-radius:5px;
}

button{
    margin-top: 15px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: #45a049;
}
ul{
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 20px auto;
}

li{
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);;
}

.strength-row {
    display: flex;
    gap: 20px;
}

.strength-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#durationSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#durationSection label {
    margin-bottom: 5px;
}

#duration {
    width: 100% !important;
    box-sizing: border-box;
}